h1, p{
  font-family: "Lora", serif;
}

/* Style for the header section */
.header{
    background-color: #ffd3fd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;

    h1, p{
        color: #c29d93;
        font-family: "Lora", serif;
        text-align: center;
    }

}

.input-container{
    display: grid;
  /* Creates two columns of equal width that take up all available space */
  grid-template-columns: 1fr 1fr;
  /* Optional: Adds space between the grid items */
  gap: 20px; 
  /* Optional: Defines the height of implicitly created rows (adjust as needed) */
  grid-auto-rows: auto; 
}


button{
    background-color: #c29d93;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    cursor: pointer;
}

button2{
    background-color: #8ba888;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    cursor: pointer;
}

button:hover{
    background-color: #ffffff;
    color:#333;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}